@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');

html {
    font-family: 'Jomolhari', serif;
    background-color: #e6e6e6;

}
a{
    text-decoration:none;
    }

.nav-menu{
background-color:gray;
display:flex
}
.nav-list{
display:inline;

}
  .nav-item{
  list-style-type:none;
  display:inline;
  margin:5px,5px,5px;
  background-color:#ccffff;
  border-radius:1px;

  }
  .nav-link {
    color:black;
  }

  .container{
  display:flex;

  }