@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap&subset=cyrillic-ext');
* {
    
    box-sizing: border-box;
}
 html,body {
 font-family: 'Ubuntu', sans-serif;
    background-color: #f1f5ff;
    margin: 0;
}

a {
    text-decoration: none;
 }

li {
    list-style-type: none;
}

.nav-list, .auth-list {
    display: inline-flex;
}

.nav-link {
    flex-flow: row wrap;
    padding: inherit;
}
.nav-link a{
color:white;

}

.navigation {
    display: flex;
    flex-flow: row;
    background-color: #3d3d3f;
    color:white;
    padding:10px;
    margin:10px;
    position:relative;
    align-content: space-between;

}
.nav-menu{
display:flex;
align-content: inherit;
  align-content: space-between;
}


.container{
    display:flex;


}
.row{
   display: flex;
   flex: 1;
  justify-content: space-around;
  position:relative;
flex-direction: column;
padding:10px;
margin:10px;
background-color:#8fabf2;
}
.row a{
color:black;
background-color:green;
padding:0px 0px 0px 0px;
}

 @media (max-width:768px){
 .container{
     flex-direction:column;
 }
 }