<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>
        {% block Title %}
        title
        {%endblock%}
    </title>
</head>
<body>
<header>
    <nav>
        <div class="nav-list">
            <ul class="nav-list">
                <li class="nav-item" href="#">link 1</li>
                <li class="nav-item" href="#">link 2</li>
                <li class="nav-item" href="#">link 3</li>
                <li class="nav-item" href="#">link 4</li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    {%block Content%}
    <h1>Hello world!</h1>
    {% endblock %}
</div>
<footer>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</footer>
</body>
</html>